APP_NAME=Zieex
APP_URL=http://localhost
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=zieex
DB_USER=root
DB_PASS=

JWT_SECRET=

MAIL_DRIVER=mail
MAIL_FROM=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

SMTP_HOST=127.0.0.1
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=tls

RESEND_API_KEY=
MAIL_API_URL=
MAIL_API_KEY=
